:root{
  --color-primary: #34C94B;
  --color-black: #121212;
  --color-white: #FFFFFF;
}

*,*::before,*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Poppins", sans-serif;
  background-color: var(--color-black);
  overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6,p{
  overflow-wrap: break-word;
}